body{
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feffff+0,ddf1f9+35,a0d8ef+100;Blue+3D+%2318 */
background: rgb(254,255,255); /* Old browsers */
background: -moz-linear-gradient(left, rgba(254,255,255,1) 0%, rgba(221,241,249,1) 35%, rgba(160,216,239,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef',GradientType=1 ); /* IE6-9 */
 }

header {
    background: radial-gradient(circle, rgba(0, 0, 255, 0.88) 10%, rgba(0, 0, 255, 0.1) 100%), url("img/header.jpg");
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
}


a { display: block;
    color:#191970;
    width: 100%;
    text-decoration: none;
    text-align:center;
   }

a:active {
color:#000000;
/*text-decoration:none*/
}

a:visited {
color:#666666;
text-decoration:none
}

a:hover {
color:#339900;
text-decoration: underline
}


img{ 
	border-radius:15px 15px 15px 15px;
   }
  

ul {list-style-type: none;}

h1 { 
   margin: 10px;
   padding:10px;
	 text-align: center;
   color: #131238;
   font-size: 36px;
   text-shadow: 3px 1px 2px rgba(159, 175, 181, 1);
   font-family: sans-serif;
   font-style: italic;
    }
 h2 {
	  text-align: center;
    color: #131238;
    font-size: 28px;
    font-family: sans-serif;
    text-shadow: 3px 1px 2px rgba(159, 175, 181, 1);
    font-style: italic;
    }
  h4 { 
     font-size: 20px;
     text-align:left;
     color: #131238;
     text-shadow: 3px 1px 2px rgba(159, 175, 181, 1);
     }

  h5{
    color:#191970;
    text-align: center;
    font-size: 19px;
    text-shadow: 3px 1px 2px rgba(159, 175, 181, 1);
    font-style: italic;
    }


  h6{
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    color: #ffffff;
   }

p{
	text-indent: 50px;
	text-align: justify;
	font-size: 20px;
	margin: 10px;
}


.rightimg {
	  overflow: hidden;
    float: right; 
    margin: 10px;
    padding-top: 10px;
    }


.navbar{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c5154+1,828c95+53,28343b+100 */
background: rgb(76,81,84); /* Old browsers */
background: -moz-linear-gradient(left, rgba(76,81,84,1) 1%, rgba(130,140,149,1) 53%, rgba(40,52,59,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(76,81,84,1) 1%,rgba(130,140,149,1) 53%,rgba(40,52,59,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(76,81,84,1) 1%,rgba(130,140,149,1) 53%,rgba(40,52,59,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c5154', endColorstr='#28343b',GradientType=1 ); /* IE6-9 */
}


footer{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c5154+1,828c95+53,28343b+100 */
background: rgb(76,81,84); /* Old browsers */
background: -moz-linear-gradient(left, rgba(76,81,84,1) 1%, rgba(130,140,149,1) 53%, rgba(40,52,59,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(76,81,84,1) 1%,rgba(130,140,149,1) 53%,rgba(40,52,59,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(76,81,84,1) 1%,rgba(130,140,149,1) 53%,rgba(40,52,59,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c5154', endColorstr='#28343b',GradientType=1 ); /* IE6-9 */
 }
.center-img {
  margin: 0 auto;
}

.img_r{
    /*display: block;
    margin: 0 auto;*/
    background-color:#ffffff;
    border: 1px solid #B4B7B7;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;    
    padding: 10px;
    font-size:18px;
    text-shadow: 3px 1px 2px rgba(159, 175, 181, 1);
    -webkit-box-shadow: 4px 10px 26px 0px rgba(184,184,184,0.71);
    -moz-box-shadow: 4px 10px 26px 0px rgba(184,184,184,0.71);
    box-shadow: 4px 10px 26px 0px rgba(184,184,184,0.71);
}
.nav_l{background-color:#ffffff;
    border: 1px solid #B4B7B7;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    text-align: left;
    font-size:16px;
    text-shadow: 3px 1px 2px rgba(159, 175, 181, 1);
    -webkit-box-shadow: 4px 10px 26px 0px rgba(184,184,184,0.71);
    -moz-box-shadow: 4px 10px 26px 0px rgba(184,184,184,0.71);
    box-shadow: 4px 10px 26px 0px rgba(184,184,184,0.71);
}

.video {position:relative;padding-bottom:56.25%;/*пропорции видео 16:9 */padding-top:25px;height:0;}

.video iframe {position:absolute;top:0;left:0;width:100%;height:100%;}

a.button {
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #B4B7B7;
  display: inline-block;
  width: 5em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  user-select: none;
  color: rgb(0,0,0);
  outline: none;
  border-radius: 2px;
  background: linear-gradient(rgb(255,255,255), rgb(240,240,240));
  box-shadow:
   0 0 3px rgba(0,0,0,0) inset,
   0 1px 1px 1px rgba(255,255,255,.2),
   0 -1px 1px 1px rgba(0,0,0,0);
  transition: .2s ease-in-out;
}
a.button:hover:not(:active) {
  box-shadow:
   0 0 3px rgba(0,0,0,0) inset,
   0 1px 1px 1px rgba(0,255,255,.5),
   0 -1px 1px 1px rgba(0,255,255,.5);
}
a.button:active {
  background: linear-gradient(rgb(250,250,250), rgb(235,235,235));
  box-shadow:
   0 0 3px rgba(0,0,0,.5) inset,
   0 1px 1px 1px rgba(255,255,255,.4),
   0 -1px 1px 1px rgba(0,0,0,.1);
}


